---
layout: archive
title: "Curriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<br>

<h2 class="page__title">Education</h2>

<div class="divTable blueTable">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead tableCol0">Year</div>
<div class="divTableHead tableCol1">Degree</div>
<div class="divTableHead tableCol2">School</div>
<div class="divTableHead tableCol3">Subject</div>
</div>
</div>
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell tableCol0">2016-2019</div>
<div class="divTableCell tableCol1">Master of Science</div>
<div class="divTableCell tableCol2">Karlsruhe Institute of Technology (KIT)</div>
<div class="divTableCell tableCol3">Computer Science (Study Profile: Artificial Intelligence)</div>
</div>
<div class="divTableRow">
<div class="divTableCell tableCol0">2012-2016</div>
<div class="divTableCell tableCol1">Bachelor of Science</div>
<div class="divTableCell tableCol2">Karlsruhe University of Applied Sciences</div>
<div class="divTableCell tableCol3">Computer Science</div>
</div>
</div>
</div>

<br>

<h2 class="page__title">Work experience</h2>

<div class="divTable blueTable">
  <div class="divTableHeading">
  <div class="divTableRow">
  <div class="divTableHead tableCol0">Year</div>
  <div class="divTableHead tableCol4">Company</div>
  <div class="divTableHead tableCol3">Position</div>
</div>
</div>
<div class="divTableBody">
  <div class="divTableRow">
  <div class="divTableCell tableCol0">2020 - 2021</div>
  <div class="divTableCell tableCol4">Karlsruhe University of Applied Science, Karlsruhe</div>
  <div class="divTableCell tableCol3">Lecturer: Autonome Systeme Labor</div>
</div>
  <div class="divTableRow">
  <div class="divTableCell tableCol0">since 2020</div>
  <div class="divTableCell tableCol4">Karlsruhe Institute of Technology, Karlsruhe</div>
  <div class="divTableCell tableCol3">Research Assistant<br/>Main topics: Computer Vision, Machine/Deep Learning</div>
</div>
  <div class="divTableRow">
  <div class="divTableCell tableCol0"> 2019 - 2020</div>
  <div class="divTableCell tableCol4">Forschungszentrum Juelich</div>
  <div class="divTableCell tableCol3">Research Assistant (5months)<br/>Main topics: Computer Vision, Machine/Deep Learning</div>
</div>
</div>
</div>

<br>

<h2 class="page__title">Skills & Interests</h2>
<div style="display: flex; flex-wrap: wrap;">
  <div class="btn btn--article" style="margin-right: 0.25em;">Machine Learning</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Deep Learning</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">PyTorch</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Docker</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">CI/CD</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">OpenCV</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Computer Vision</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Human Pose Estimation</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">Python</div>
  <div class="btn btn--article" style="margin-right: 0.25em;">C++</div>

</div>
<br/>

<h2 class="page__title">Publications</h2>
{% for post in site.publications reversed %}
  {% include archive-single-cv.html %}
{% endfor %}
